body, html {
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-family: sans-serif;
    margin: 0;
}

p {
    font-family: sans-serif;
}

li img {
    width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

li {
    display: inline;
    float: left;
}

li a {
    font-family: sans-serif;
    color: #000;
    display: block;
    padding: 18px;
    background-color: transparent;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-size {
    width: 800px;
}
.left-side{
    margin-left: 50px;
}
.left-side, .right-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.button-app{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-link {
    background-color: #000;
    border: none;
    color: white;
    border-radius: 50px;
    height: 75px;
    padding: 5px 20px;

    text-align: center;
    width: 280px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Ubuntu, serif;

}

.section-recrutement {
    padding: 0 48px;
}
.logo-store{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.container-about{
    width: 50%;
}
.container-contact{
    background-color: blue;
}